<!-- npm install -g @angular/cli@14.0.0 -> para instalar o Angular CLI -->
<!--ng new nome-da-pasta -> Para criar a pasta -->
<!-- cd nome-da-pasta -> para entrar na pasta -->
<!-- ng serve -> para executar o servidor -->

<!-- Componentes criados em outras pastas -->

<!-- sempre que for criar um novo componente, pare o servido com 'crtl c' -->

<app-cabecalho></app-cabecalho>
<main>
  <router-outlet>
    <!-- diretiva  do angular que vai atuar como um espaço reservado que o próprio angular preencherá automaticamente-->
    <!-- carregar os componentes dinâmicamente -->
  </router-outlet>

</main>
<app-rodape></app-rodape>